 /**
  * Component: Dropdown
  * --------------------------------------------------
  */
 .c-dropdown {
   position: relative;
   display: inline-block;
   text-align: left;
 }
 
 .c-dropdown__list {
   margin: 5px 0 0 0;
   padding: 6px 0;
   list-style: none;
   position: absolute;
   top: 125%;
   left: 0;
   width: 100%;
   opacity: 0;
   visibility: hidden;
   border-radius: 3px;
   background: #fff;
   -webkit-transition: opacity .25s linear, top .25s linear;
   transition: opacity .25s linear, top .25s linear;
 }
 .c-dropdown.is-open .c-dropdown__list {
   opacity: 1;
   visibility: visible;
   top: 100%;
 }
 
.c-dropdown__list li{
  width: 100%;
}

.c-dropdown__list li:hover {
  cursor: pointer;
  background-color: #E6E9ED;
}

 .c-dropdown__item {
   padding: 20px 15px;
   font-size: 27px;
   cursor: pointer;
   color: #434A54;
   white-space: nowrap;
   overflow: hidden;
   -webkit-transition: background-color .25s linear;
   transition: background-color .25s linear;
 }
 

 
 /**
  * Component: Button
  * --------------------------------------------------
  */
 .c-button {
   -webkit-appearance: none;
   margin: 0;
   border: 0;
   overflow: visible;
   font: inherit;
   text-transform: none;
   display: inline-block;
   vertical-align: middle;
   text-decoration: none;
   text-align: center;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
 }
 .c-button:hover, .c-button:focus {
   outline: none;
   text-decoration: none;
 }
 .c-button:not(:disabled) {
   cursor: pointer;
 }
 
 /**
  * Component: Button
  * Modifier: Dropdown
  * --------------------------------------------------
  */
 .c-button--dropdown {
   background-color: rgba(255, 255, 255, 0.1);
   color: white;
   padding-left: 15px;
   padding-right: 30px;
   min-height: 50px;
   border-radius: 3px;
   -webkit-transition: background-color .2s linear;
   transition: background-color .2s linear;
 }
 .c-button--dropdown:hover {
   background-color: rgba(255, 255, 255, 0.2);
 }
 .c-button--dropdown:after {
   content: "";
   position: absolute;
   top: 24px;
   right: 15px;
   width: 0;
   height: 0;
   border: 5px solid transparent;
   border-top-color: #E6E9ED;
 }
 
 input[type="radio"] {
  visibility:hidden;
  display: none;
}


@media screen and (max-width: 580px) {
  .c-dropdown__item {
      font-size: 19px;
      padding: 4px 15px;
      line-height: 2.8
  }
  .c-button--dropdown {
    min-height: 30px;
    border-radius: 3px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
  }
  .c-button--dropdown:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .c-button--dropdown:after {
    content: "";
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #E6E9ED;
  }
}