*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: 'Stem-Regular';
    src:    url('../res/fonts/stem/Stem-Regular/Stem-Regular.eot?#iefix') format('embedded-opentype'),
            url('../res/fonts/stem/Stem-Regular/Stem-Regular.otf')  format('opentype'),
            url('../res/fonts/stem/Stem-Regular/Stem-Regular.woff') format('woff'),
            url('../res/fonts/stem/Stem-Regular/Stem-Regular.ttf')  format('truetype'),
            url('../res/fonts/stem/Stem-Regular/Stem-Regular.svg#Stem-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Stem-Medium';
    src:    url('../res/fonts/stem/Stem-Medium/Stem-Medium.eot?#iefix') format('embedded-opentype'),
            url('../res/fonts/stem/Stem-Medium/Stem-Medium.otf')  format('opentype'),
            url('../res/fonts/stem/Stem-Medium/Stem-Medium.woff') format('woff'),
            url('../res/fonts/stem/Stem-Medium/Stem-Medium.ttf')  format('truetype'),
            url('../res/fonts/stem/Stem-Medium/Stem-Medium.svg#Stem-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Stem-Bold';
    src:    url('../res/fonts/stem/Stem-Bold/Stem-Bold.eot?#iefix') format('embedded-opentype'),
            url('../res/fonts/stem/Stem-Bold/Stem-Bold.otf')  format('opentype'),
            url('../res/fonts/stem/Stem-Bold/Stem-Bold.woff') format('woff'),
            url('../res/fonts/stem/Stem-Bold/Stem-Bold.ttf')  format('truetype'),
            url('../res/fonts/stem/Stem-Bold/Stem-Bold.svg#Stem-Bold') format('svg');
    font-family: 'Stem-Bold', sans-serif;
    font-style: normal;
}

html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    overflow-x:hidden
}

body {
    font-family: 'Stem-Regular', Helvetica, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    color: white;
    background-color: #003359;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Stem-Bold', Helvetica, sans-serif;
}

button, input, select, textarea {
    font:inherit;
    margin:0
}

footer{
    background-color: #002948;
    padding: 45px 50px 50px 50px;
}

header {
    min-height: 100%;
    text-align: center;
    background-image: url("../res/images/img_03.jpg");
    background-position: center 70%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gradient-top {
    background: -moz-linear-gradient(top, rgba(0,51,89,1) 0%, rgba(0,51,89,0) 89%, rgba(0,51,89,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,51,89,1) 0%,rgba(0,51,89,0) 89%,rgba(0,51,89,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,51,89,1) 0%,rgba(0,51,89,0) 89%,rgba(0,51,89,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003359', endColorstr='#00003359',GradientType=0 ); /* IE6-9 */
    height: 250px;
    width: 100%;
    z-index: 2
}

.gradient-bottom {
    background: -moz-linear-gradient(top, rgba(0,51,89,0) 0%, rgba(0,51,89,0) 9%, rgba(0,51,89,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,51,89,0) 0%,rgba(0,51,89,0) 9%,rgba(0,51,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,51,89,0) 0%,rgba(0,51,89,0) 9%,rgba(0,51,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003359', endColorstr='#003359',GradientType=0 ); /* IE6-9 */
    height: 250px;
    padding-top: 100px;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.title {
    text-align: center;
    padding: 0 300px;
}

.title h1{
    font-weight: 400
}

.small {
    font-size: 11px;
    line-height: 1.8
}

.large {
    font-size: 55px;
    line-height: 60px;
    font-family: 'Stem-Bold', sans-serif;
    padding: 0px 20px
}

.big {
    font-size: 75px;
    line-height: 1.1;
}
.mega {
    font-size: 85px;
}


.brand p {
    text-align: right;
    max-width: 200px;
    float: right;
    padding-top: 20px;
    font-weight: 400;
}

header .gradient-top .col-6, header .gradient-top .col-m-6 {
    padding: 0px;
}

.logo {
    width: 185px;
    height: 141px;
    float: left
}

.logo-lay img{
    float: right;
    width: auto;
    height: 80px;
}

.bottom-header {
    position:absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    line-height: 1.3;
    padding: 20px;
    text-align: center;
    font-weight: normal;
}


.bgimg-2 {
    background-image: url("../res/images/bg-img-blue.jpg");
    background-position: left;
    background-repeat: no-repeat;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgimg-3 {
    min-height: 600px;
    background-image: url("../res/images/bg-3.jpg");
    background-position: center 70%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5
}

.bgimg-5 {
    background-image: url("../res/images/students.jpg");
    background-position: center 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mid {
    text-align: center;
    padding-top: 12%;
}

.form {
    padding: 0 10px;
    display: block
}

.form:not(:first-child) {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.form h1{
    text-align: center;
    padding: 0px;
}

#success-0, #success-1, #success-2, #success-3 {
    color: white;
    margin-top: -20px;
    max-width: 600px;
    margin: 0 auto;
    display: none
}

#error-name-0, #error-mail-0, #error-phone-0,
#error-name-1, #error-mail-1, #error-phone-1,
#error-name-2, #error-mail-2, #error-phone-2,
#error-name-3, #error-mail-3, #error-phone-3  {
    text-align: left;
    font-size: 14px;
    padding-top: 2px;
    color: #F33245;
    display: none
}

.form-field {
    position: relative;
    color: #aaa;
    font-size: 17px;
    float: left;
    font-weight: normal
}
  
.form-field input {
    height: 53px;
    background: white;
    border: none;
    border-radius: 3px;
    width:100%
}

.form-field button {
    width:100%
}

.form-with-bg {
    padding: 50px;
    background-color: #002B4B;
}
  
.form-field input { text-indent: 46px }

.form-field .icon { 
    position: absolute;
    padding: 15px;
}

#name-0, #name-1, #name-2, #name-3 {
    text-transform:capitalize;
}

.btn {
    background-color: #F33245;
    color: white;
    border: none;
    border-radius: 3px;
    height: 53px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(248, 60, 79);
}

.icon-size-medium {
    font-size: 22px;
}

.icon-size-large {
    font-size: 55px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.reasons .col-3 {
    padding-top: 100px;
    height: 200px;
}

.reasons h1 {
    max-width: 90%;
    line-height: 1
}


.reasons .col-3 p{
    max-width: 200px;
    line-height: 1.5
}

.reasons .raw{
    padding-bottom: 150px;
}

.methods .stick-text {
    height: 890px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 3;
}

.methods h1 {
    max-width: 1100px;
    font-size: 75px;
}

.title h1 {
    font-size: 50px;
    font-family: 'Stem-Bold', sans-serif
}

.stick-text h1 {
    padding-left: 15%;
}

.list-methods .row {
    padding-left: calc(15% - 8px);
    padding-left: -moz-calc(15% - 8px);
    padding-left: -webkit-calc(15% - 8px);
    padding-left: -o-calc(15% - 8px);
}

.list-methods .col-4 {
    height: 200px;
}

.list-methods .col-4 p{
    max-width: 200px;
    line-height: 1.5
}

.list-methods {
    padding-top: 330px;
    padding-bottom: 30px;
}



.video {
    padding-bottom: 50px;
}

.video-wrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.play {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 19px;
    cursor: pointer;
}

.circle {
	border-radius: 50%;
	width: 94px;
    height: 94px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding-top: 37px;
    padding-left: 4px;
	/* width and height can be anything, as long as they're equal */
}

.circle::after {
	content: "\62";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "untitled-font-1" !important;
    cursor: pointer;
}

.circle:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer
}

#warning {
    color: #F33245;
    font-size: 16px;
    font-weight: 300;
	margin-top: 15px;
}

.dot {
  height: 5px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 5px;
  float: left;
}

.backred{
    background-color: white;
}

.show-form {
    display: none
}

.result {
    padding: 20px 50px;
}

.questions {
    padding: 50px;
    background-color: rgba(3, 24, 39, 0.411);
    -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
    transition: 0.4s;
}

.questions p{
    font-size: 27px;
    line-height: 1.8;
}

.controls .dot {
    margin-top: 25px;
}

.controls button {
    background: none;
    border: none;
    font-size: 27px;
    float:right;
}

.controls button::after {
    content: "\6e";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "untitled-font-1" !important;
    position: absolute;
    font-size: 24px;
    margin-top: 4px;
    padding-left: 14px
 }

.controls button:hover {
    background: none
}

.controls .dots, .controls .col-m-12 {
    padding: 0px;
    padding-right: 20px;
}

.quiztitle {
    width: 870px;
}

.quiz h1.result {
    font-size: 50px;
    font-family: 'Stem-Bold', sans-serif;
    max-width: 1100px;
}


.socials .icon{
    padding-right: 15px;
    opacity: 0.5;
    color: white
}

.socials .icon:hover{
    opacity: 1
}

.slider {
    padding-bottom: 100px;
}

footer p {
    padding-bottom: 20px;
    opacity: 0.5;
}

.call-form h2{
    text-align: center;
    padding: 100px 0px 30px 0px
}

.formcall {
    padding-bottom: 50px;
    font-size: 43px;
    line-height: 1.5
}

.formcall h1{
    font-size: 43px;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px 30px 0px
}

.row:after, .row:before, .row-padding:after, .row-padding:before {
    content: "";
    display:table;
    clear:both
}

#next {
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
    transition: 0.4s;
}
.mistake {
    border: 2px solid rgba(255, 0, 0, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

/* Grid */

.row::after {
    content: "";
    clear: both;
    display: table;
    border: none;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: none;
}

.aside {
	border: none;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    border: none;
}

.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

@media only screen and (min-width: 980px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media (min-width:1180px) {
    .middle  {
        width: 1160px;
        left: 50%;
        transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
    }
}

@media (min-width:1350px) {
    .raw {
        width: 1310px;
        margin: 0 auto;
    }
}

@media (max-width:1024px) {
    .bgimg::after {
        background-position: 70%;
    }
}


/* TABLETS */

@media screen and (max-width: 980px) {
    .video {
        padding-bottom: 0
    }
    .bgimg-4 {
        min-height: 400px;
    }
    .bgimg-3 {
        min-height: 400px;
    }
    .methods .stick-text {
        height: 600px;
    }
    .stick-text h1 {
        padding-left: 10%
    }
    .play {
        top: 35%
    }
    .form .form-field{
        max-width: 400px;
        margin: 0 auto;
        float: none;
    }
    .form-with-bg {
        background: none;
        padding-top: 0px;
        padding-bottom: 28px
    }
    .title {
        padding: 0 40px;
    }

    .large {
        font-size: 38px;
        padding: 0 20px;
        font-family: 'Stem-Bold', sans-serif;
    }
    .middle {
        top: 60%;
    }
    .bottom-header p {
        font-size: 15px;
    }
    .reasons h1 {
        font-size: 70px;
        max-width: 600px;
        padding-left: 20px;
        line-height: 1.2;
        font-size: 42px;
    }
    .reasons .col-m-6 {
        padding-left: 30px;
    }
    .reasons .col-3 {
        padding-top: 30px;
    }
    .reasons .raw {
        padding-bottom: 80px;
    }
    .list-methods {
        padding-top: 300px;
    }

    .list-methods .row {
        padding-left: calc(10% - 12px);
        padding-left: -moz-calc(10% - 12px);
        padding-left: -webkit-calc(10% - 12px);
        padding-left: -o-calc(10% - 12px);
    }

    .methods h1 {
        font-size: 48px;
        max-width: 650px;
        line-height: 1.2;
    }
    .title h1 {
        font-size: 38px;
    }
    .quiz h1.result {
        padding: 20px 20px 0px 20px;
        font-size: 30px;
        line-height: 1.3;
        max-width: 80%
    }
    .controls button {
        float:none;
        padding: 0px
    }
    .questions {
        padding: 0px 20px;
        background: none;
    }
    .controls .col-8, .controls .col-m-12 {
        padding: 0px
    }
    .gradient-bottom {
        padding-top: 0px;
        height: 100px;
    }
    footer {
        text-align: center
    }
    footer .logo-lay img {
        float: none;
        margin: 0 auto;
    }
}



@media screen and (max-width: 580px) {
    .video {
        padding-bottom: 0
    }
    .form:not(:first-child) {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .bgimg-4 {
        min-height: 180px;
    }
    .play {
        top: 25%
    }
    .gradient-top {
        height: 200px;
    }
    .form h1 {
        padding: 0px 50px;
    }
    .form .form-field{
        max-width: 400px;
        margin: 0 auto;
        float: none;
    }
    .title {
        padding: 0 20px;
    }
    .reasons .col-3 {
        padding-top: 15px;
    }
    .reasons .raw {
        padding-bottom: 50px;
    }
    .large {
        font-size: 28px;
        padding: 0 20px;
        line-height: 1.2
    }
    .list-methods {
        padding-top: 260px;
    }
    .list-methods .row {
        padding-left: 20px;
    }
    .title h1 {
        font-size: 28px;

    }
    .methods .sticky h1 {
        line-height: 1.2;
        padding-left: 30px;
        font-size: 38px;
        max-width: 400px;
    }
    .result {
        padding: 40px 20px 0px 20px;
        font-size: 21px;
        line-height: 1.5
    }
    .controls button {
        float:none;
        padding: 0px
    }
    .questions {
        padding: 0px 20px;
        background: none;
    }
    .questions p{
        font-size: 19px;
    }
    .dot {
        width: 40px;
        margin-right: 7px;
    }
    .controls .col-8, .controls .col-m-12 {
        padding: 0px
    }
    .controls .btn, .controls .btn:after {
        font-size: 19px;
    }
    .controls .btn:after {
        font-size: 19px;
        margin-top: 2px
    }

    .questions .c-dropdown__item {
        font-size: 19px;
    }
    .gradient-bottom {
        padding-top: 20px;
        height: 80px;
    }
    footer {
        text-align: center
    }
    footer .logo-lay img {
        float: none;
        margin: 0 auto;
    }
    .form-with-bg {
        background: none;
        padding: 0px 20px;
    }
}

@media screen and (max-width: 380px) {
    .middle {
        top: 65%;
    }
    [class*="col-"] {
        padding: 10px;
    }
    .bottom-header {
        padding: 10px;
    }
    .bottom-header p{
        font-size: 14px;
    }
}
