.glide__arrows {
    position: absolute;
  }
  .glide--horizontal .glide__arrows {
    top: 50%;
    width: 92%;
    margin-left: 4%;
  }
  .glide--vertical .glide__arrows {
    left: 50%;
    height: 88%;
    margin-top: 6%;
  }
  .glide__arrow {
    position: absolute;
    z-index: 2;
    color: white;
    padding: 12px 18px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: none;
    font-size: 28px;
    border: none;
    opacity: 1;
    -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
            transition: opacity 150ms ease, border 300ms ease-in-out;
  }

    .glide__arrow:hover{
    background-color: rgba(255, 255, 255, 0.4);
    }


  .glide__arrow.disabled {
    opacity: 0.33;
  }
  .glide__arrow:focus {
    outline: none;
  }
  .glide__arrow:hover {
    border-color: white;
  }
  .glide--horizontal .glide__arrow {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .glide--horizontal .glide__arrow.prev {
    left: 0;
  }
  .glide--horizontal .glide__arrow.next {
    right: 0;
  }
  .glide--vertical .glide__arrow {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .glide--vertical .glide__arrow.prev {
    top: 0;
  }
  .glide--vertical .glide__arrow.next {
    bottom: 0;
  }
  .glide__bullets {
    position: absolute;
    z-index: 2;
    list-style: none;
  }
  .glide--horizontal .glide__bullets {
    left: 0;
    width: 100%;
    height: 12px;
    text-align: center;
  }
  .glide--vertical .glide__bullets {
    top: 50%;
    right: 8%;
    width: 12px;
    height: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .glide__bullets > * {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 5px;
    padding: 0;
    cursor: pointer;
    border: none;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
  }
  .glide--horizontal .glide__bullets > * {
    margin: 0 5px;
  }
  .glide--vertical .glide__bullets > * {
    vertical-align: middle;
  }
  .glide__bullets > *.active {
    background-color: white;
  }
  .glide__bullets > *:focus {
    outline: none;
  }
  .glide__bullets > *:hover,
  .glide__bullets > *:focus {
    border: none;
    background-color: white;
  }
  .glide__wrapper {
    width: 100%;
  }
  .glide__slide img{
    width: 100%;
  }
  .capture {
      position: absolute;
      padding: 20px;
      background-color: white;
      color: #003359;
      max-width: 300px;
      font-size: 19px;
      font-weight: 500;
      text-align: left;
      bottom: 5%;
  }

  

  @media screen and (max-width: 980px) {
    .glide__bullets {
      margin-top: 20px;
    }
   .capture {
      padding: 15px;
      font-size: 16px
    }
  }

  @media screen and (max-width: 580px) {
    .capture {
      padding: 15px;
      font-size: 14px
    }
  }