
@font-face {
  font-family: 'Stem-Medium';
  src: url('Stem-Medium.eot?#iefix') format('embedded-opentype'),  url('Stem-Medium.otf')  format('opentype'),
	     url('Stem-Medium.woff') format('woff'), url('Stem-Medium.ttf')  format('truetype'), url('Stem-Medium.svg#Stem-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
